<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEDs 漸亮 漸暗 實作</title>
</head>
<body>
    <div>執行腳位 {{LEDxPINx}}, 完畢。</div>
    <div><a href="/leds_lighting/12">腳位 12</a></div>
    <div><a href="/leds_lighting/16">腳位 16</a></div>
    <div><a href="/leds_lighting/18">腳位 18</a></div>
</body>
</html>